@import url("http://fonts.googleapis.com/css?family=Raleway:200,500,700,800");
@import "compass/reset";
@import "compass/css3";
@import "build";

body {
    background-color: #f9fcf7; // Old browsers
    @include filter-gradient(#f9fcf7, #f5f9f0, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%));
    font-family: "Raleway", sans-serif;
}

.login-wrap.wrapper { 
    @include border-radius(3px);
    @include box-shadow(0px 2px 5px #888);
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: 3px solid $sexyRed;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -140px;
    max-width: 100%;


    input {
        @include box-shadow(inset 0px 1px 3px #ccc);
        @include border-radius(6px);
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        display: inline-block;
        padding: 7px 10px;
        width: 70%;
        border: 1px solid transparent;
        margin: 3px 0;
        outline: none;
        line-height: 1.4;
    

        &:focus {
            @include box-shadow(inset 0px 2px 5px #ccc);
        }
    }

    .choice-button {
        float: right;
        font-size: 2.6em;
        vertical-align: top;
        color: $sexyRed;
        position: relative;
        top: -37px;
        line-height: 1.8;
    }

    .inputs {
        float: left;
        width: 100%;
    }
    .account-actions {
        display: inline-block;
     }
}

@media all and (max-width: 400px) {
    .login-wrap.wrapper {
        position: relative;
        width: 95%;
        top: 100px;
        left: 0;
        margin: 0 auto;

        input {
            width: 100%;
            border-bottom: 1px solid $sexyRed;
            margin: 5px 0;
            float: none;
        }

        .choice-button {
            @include border-radius(10px);
            width: auto;
            height: 50px;
            float: right;
            top: 0;
            text-align: left;
            font-size: 1.2rem;

            i::before {
                content: "Login.";
                font-family: "Raleway";
            }
        }
    }
}
