@import url("http://fonts.googleapis.com/css?family=Raleway:200,500,700,800");
@import "compass/reset";
@import "compass/css3";
@import "build";

*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }



body {
    background-color: #f9fcf7; // Old browsers
    @include filter-gradient(#f9fcf7, #f5f9f0, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%));
    font-family: "Raleway", sans-serif;
}

.login-wrap.wrapper { 
    @include border-radius(3px);
    @include box-shadow(0px 2px 5px #888);
    background: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: 3px solid $sexyRed;
    position: absolute;
    width: 400px;
    top: 50%;
    left: 50%;
    margin-left: -200px;
    margin-top: -140px;
    max-width: 100%;


    input {
        @include box-shadow(inset 0px 1px 3px #ccc);
        @include border-radius(6px);
        font-family: 'Raleway', sans-serif;
        font-size: 1em;
        display: inline-block;
        padding: 7px 10px;
        width: 100%;
        border: 1px solid transparent;
        margin: 3px 0;
        outline: none;
        line-height: 1.4;
    

        &:focus {
            @include box-shadow(inset 0px 2px 5px #ccc);
        }
    }

    .choice-button {
        font-size: 2.6em;
        color: $sexyRed;
        position: relative;
        line-height: 1.8;
        float: none;
        margin-top: 10px;
    }

    .choice-button.button-regular {
        font-family: "Raleway";
        @include border-radius(10px);
        min-width: 100px;
        height: 50px;
        text-align: center;
        top: 0;
        font-size: 1rem;
        padding: 0 10px;
        color: $sexyRed;
        float: right;

        &:before {
            display: none;
        }
        i {
            position: relative;
            font-size: 1.2em;
            top: 3px;
            margin: 0 0 0 10px;
        }
    }

    .inputs {
        float: left;
        width: 100%;
    }
    .account-actions {
        display: inline-block;
        position: relative;
        top: 30px;
        font-size: .8em;
     }

     .modal input {
          display: block;
          width: 100%;
          margin: 8px 0;
     }


    .login-logo {
        position: absolute;
        top: -50px;
    }

    #open-registration {
        line-height: 3rem;
        float: right;
        margin-right: 10px;
        color: $sexyGreen;
    }

    p {
        line-height: 1.7;
    }
}


@media all and (max-width: 400px) {
    .login-wrap.wrapper {
        position: relative;
        width: 95%;
        top: 100px;
        height: auto;
        left: 0;
        margin: 0 auto;

        input {
            width: 100%;
            border-bottom: 1px solid $sexyRed;
            margin: 5px 0;
            float: none;
        }

        .choice-button {
            @include border-radius(10px);
            width: auto;
            height: 50px;
            float: right;
            top: 0;
            text-align: left;
            font-size: 1.2rem;
        }

        #open-registration {
            line-height: 3rem;
            float: left;
            width: 45%;
            margin-right: 10px;
            color: $sexyGreen;
        }
    
        #reset {
            position: absolute;
            top: 108%;
            left: 0;
            width: 100%;
            display: block;
            text-align: center;
        }
    }


}