/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import url("http://fonts.googleapis.com/css?family=Raleway:200,500,700,800");
@import "compass/reset";
@import "compass/css3";
@import "build";
// @import "login";
@import "../scripts/bower_components/spinkit/scss/spinkit";
@import "../scripts/bower_components/spinkit/scss/spinners/4-wandering-cubes";

* {
    @include box-sizing(border-box);
}
*, *:after, *:before { -webkit-box-sizing: border-box; box-sizing: border-box; }
.clearfix:before, .clearfix:after { content: ''; display: table; }
.clearfix:after { clear: both; }


html {
    height: 100%;
}

body {
    background: #f2f2f0;
    line-height: 1.6;
    color: $tuftsBrown;
    font-weight: 500;
    font-size: 1.05em;
    font-family: 'Raleway', Arial, sans-serif;
    padding-top: 20px;
    padding-bottom: 100px;
    height: 100%;
}

header {
    position: relative;
    height: 50px;
}

h2 {
    font-size: 1.4em;
}


.logo {
    width: 205px;
    display: block;
    position: absolute;
    left: 50%;
    top: 0;
    z-index: 9;
    margin-left: -102.5px;
}
.header-actions {
    @include transition(all .2s ease-in-out);
    color: $sexyRed;
    font-size: 1.8em;
    position: absolute;
    left: 0;
    top: 0;
    cursor: pointer;
    z-index: 11;

    &.active-searchbar {
        font-size: 1.5em;
        top: 6px;
        left: 6px;
    }

    &:last-of-type {
        z-index: 12;
    }

    &:first-of-type {
        right: 0;
        left: auto;
        z-index: 0;
    }
}

a {
    color: #2fa0ec;
    text-decoration: none;
    outline: none;
}

a:hover, a:focus {
    color: #404d5b;
}

.wrapper {
    width: $wrapperWidth;
    margin: 0 auto;

}

#choices {
    margin: 15px 0 -17px;
    padding: 0 15px;
    position: relative;

    li {
        margin: 10px 12px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 105px;
        height: 105px;

        &:before {
            content: "";
            display: block;
            border-top: 1px solid #ddd;
            border-bottom: 1px solid #fff;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 50%;
            z-index: -1;
        }

        &.show-matches-wrapper {
            position: absolute;
            width: 80px;
            height: 80px;
            display: block;
            left: 50%;
            top: 20px;
            margin-left: -44px;
            z-index: 10;

            button::before {
                display: none;
            }

            i {
                font-size: 2.4em;
                color: $sexyRed;
                position: relative;
                top: -8px;
            }

            #num-matches {
                width: 20px;
                position: absolute;
                color: $sexyRed;
                font-size: 1rem;
                bottom: 15px;
                left: 50%;
                margin-left: -10px;
            }
        }
    }
}

#choices button, .choice-button {

    @include border-radius(50%);
    @include box-shadow(inset 0px 1px 3px #fff, 0px 1px 3px #ccc);
    width: 100%;
    height: 100%;
    // needs latest Compass, add '@import "compass"' to your scss
    background-color: #f9fcf7; // Old browsers
    @include filter-gradient(#f9fcf7, #f5f9f0, vertical); // IE6-9
    @include background-image(linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%));
    border: 1px solid #ddd;
    outline: none;
    cursor: pointer;
    position: relative;

    &:hover {
        background: #f2f2f0;
    }

    &:focus {
        background: #e9e9e9;
    }

    &#like:hover i {
        color: #5eba8b;
    }    

    &#like i {
        color: $sexyGreen;
        font-size: 4.3em;
    }


    &#dislike:hover i {
        color: #cc4830;
    }  

    &#dislike i {
        color: $sexyRed;
        font-size: 2.9em;
    }

    &:before{
        content: "";
        display: block;
        background: #fff;
        border-top: 2px solid #ddd;
        position: absolute;
        top: -12px;
        left: -12px;
        bottom: -12px;
        right: -12px;
        z-index: -1;
        border-radius: 50%;
        box-shadow: inset 0px 8px 48px #ddd;
    }
}

.choice-button {
    width: 80px;
    height: 80px;
}

#card-interface {
    @include box-shadow(0px 2px 10px #ccc);
    @include border-radius(0 0 5px 5px);
    padding-bottom: 30px;
    position: relative;

    .loader {
        position: absolute;
        top: 25%;
        left: 50%;
        margin-left: -40px;
        z-index: 999;
        display: none;
    }
}

ul.cards {
    position: relative;
    background: #fff;
    @include border-radius(3px);
    padding: 20px;
    width: $wrapperWidth;
    margin: 0 auto;
    height: 300px;
}

.smash-card {
    @include transition(box-shadow .2s ease-in-out);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 10;
    background: #fcfcfc;
    overflow: hidden;
    color: #444;

    h2 {
        font-size: 1.3em;
        border-bottom: 1px solid #ccc;
    }


    img {
        -webkit-user-select: none;  /* Chrome all / Safari all */
        -moz-user-select: none;     /* Firefox all */
        -ms-user-select: none;      /* IE 10+ */
        -webkit-user-drag: none;
        /* No support for these yet, use at own risk */
        -o-user-select: none;
        user-select: none; 
        @include border-radius(3px);
    }


    .info-wrapper {
        @include border-radius(0 0 3px 3px);
        // border-top: 2px solid $sexyRed;
        background: #fff;
        background: rgba(255,255,255,.78);
        position: absolute;
        bottom: 0;
        width: 100%;
        padding: 10px;
    }

    .feedback-icon {
        @include border-radius(7px);
        @include transform(rotate(30deg));
        opacity: 0;
        position: absolute;
        top: 40px;
        font-size: 2.4em;
        border: 2px solid $sexyGreen;
        padding: 7px;

        &.showing {
            // opacity: 1;
        }

        &.icon-like {
            right: 10px;
            color: $sexyGreen
        }
        &.icon-dislike {
            left: 10px;
            color: $sexyRed;
            @include transform(rotate(-30deg));
            border-color: $sexyRed;
        }
        &.icon-match {
            @include transform(rotate(0));
            border: none;   
            color: $sexyGreen;
            text-align: center;
            display: block;
            left: 50%;
            top: 20px;
            width: 250px;
            margin-left: -125px;

        }
    }

    &.dragging {
        @include box-shadow(0px 2px 10px #ccc);
    }
}

#match-list {

    width: 960px;
    max-width: 100%;
    display: none;

    .cards {
        background: none;
        max-width: 100%;
        width: 960px;
    }
    

    li.smash-card {
        position: relative;
        display: inline-block;
        vertical-align: top;
        width: 30%;
        margin: 20px 1.2%;

    }
}

@media all and (max-width: 700px) {
    #match-list li.smash-card {
        width: 47%;
    }
}

@media all and (max-width: 400px) {
    #match-list li.smash-card {
        width: 100%;
    }
}

.twitter-typeahead{ 
    display: none; 
    z-index: 12;
}

#smash-autocomplete {
    background: #fff;
    line-height: 1.7;
    outline: none;
    font-size: 1.3em;
    border: none;
    text-align: center;
    display: none;
    z-index: 12;
    padding: 0;
    // padding-left: 1em;

}

input.wrapper.tt-hint {
    height: 100%;
    font-size: 1.3rem;
}

.tt-dropdown-menu {
    @include box-shadow(0px 1px 3px #bbb);
    padding: 0;
    width: 100%;
    background: #fff;
}

[class*=tt-dataset] {
    background: #fff;
    width: 100%;
    margin: 0;
    padding: 0;
    font-size: 1.2rem;

    .tt-suggestion {
        line-height: 2em;
        text-indent: .6em;
        border-bottom: 1px solid #f2f2f0;
        cursor: pointer;
        text-align: left;
        position: relative;

        &:last-of-type { border-bottom: none; }
        &:first-of-type { border-top: none; }

        &:hover, &.tt-cursor {
            background: #f2f2f0;
            border-bottom-color: transparent;

            .sightings-length {
                background: #fff;
            }
        }
    }

    .tt-highlight {
        text-decoration: underline;
    }
}

.tt-empty-results {
    line-height: 3;
    text-indent: 0;
    text-align: center;
}


nav ul {
    margin-top: 30px;
    li {
        display: block;
        text-align: center;
        color: #fff;
        cursor: pointer;

        a {
            color: #fff;
        }

        &:hover, a:hover {
            color: #fff;
            text-decoration: underline;
        }
    }
}

#js-add-picture {
    text-align: center;
    display: block;
    position: relative;
    top: 10px;
    cursor: pointer;
}

.modal {
    padding-top: 50px;
    color: #fff;
    text-align: center;
    opacity: 0;

    p {
        margin: 20px 0;
    }

    .close-modal {
        display: block;
        text-align: center;
        font-size: 1.6em;
        color: #fff;
        cursor: pointer;
    }

    .placeholder {
        width: 85%;
        margin: 200px auto 0;
    }
}

input[type='file'].choice-button.button-regular {
    padding-top: 15px;
    padding-left: 20px;
    float: none;
    margin-bottom: 20px;
    width: 100%;
}

img#output {
    max-width: 300px;
    max-height: 300px;   
    overflow: hidden;
    background: #fff;
    margin: 20px 0;
    clear: both;
    display: block;
}

.choice-button.button-regular {
    font-family: "Raleway";
    @include border-radius(10px);
    width: auto;
    height: 50px;
    top: 0;
    text-align: left;
    font-size: 1rem;
    padding: 0 10px;
    color: $sexyRed;
    float: none;

    &:before {
        display: none;
    }
}

.disclaimer {
    color: #bbb;
    margin-top: 60px;
    line-height: 1.7;
}