{% load staticfiles %}
{% load i18n %}

{% block content %}
    <link rel="stylesheet" id="login-stylesheet" href="{% static 'smashers/stylesheets/login.css' %}" />
    <div class="wrapper login-wrap clearfix">
          {% csrf_token %} 
          {{ form.as_p }}
          <div class='login-inputs'>
            <p style='margin: 10px 0 20px'>We're having some trouble with email. If you register and don't get an email, please be patient.</p>
            <img class='login-logo' src="{% static 'smashers/jsmash.png' %}" />
            <input tabindex='1' type='text' name='username' placeholder='tufts.edu email address' />
            <input tabindex='1' type='password' name='password' placeholder='password' />
            <button id='login-submit' class='choice-button button-regular'>Login <i class='icon-chevron-with-circle-right'></i></button>
            <input type="hidden" name="next" value="{{ next }}" />
          </div>

          <a class='account-actions' id='reset' href="{% url 'auth_password_reset' %}">{% trans "Reset Password" %}</a>
          <a id='open-registration' class='animated bounce choice-button button-regular' href="#registrationModal">Register <i class='icon-heart'></i></a>

          <div id='registrationModal' class='animatedModal modal animated no-alpha'>
            <div class="close-registrationModal close-modal icon-cross"> </div>
            <div class="modal-content wrapper">
              <p>Once you register, a validation link will be sent to your tufts.edu email address, if we recognize the email.</p>
              {% csrf_token %}
              {{ form.as_p }}
              <div class="form">
                <input tabindex='0' type="text" name='username' placeholder='username'>
                <input tabindex='0' type="text" name='email' type='email' placeholder='tufts.edu email address'>
                <input tabindex='0' type="password" name='password1' placeholder='password'>
                <input tabindex='0' type="password" name='password2' placeholder='confirm password'>
                <button class='choice-button button-regular' id='register'>Register</button>
              </div>
            </div>
          </div>
    </div>


{% endblock %}
