{% extends "auth_base.html" %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'smashers/stylesheets/screen.css' %}" />
    <link rel="stylesheet" href="{% static 'smashers/stylesheets/login.css' %}" />
</head>
<body>
    <div class="wrapper login-wrap">
        <p>{% trans "An email with password reset instructions has been sent." %}
        <a href='/'>Go Home</a></p>
    </div>
</body>
</html>

