{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="{% static 'smashers/stylesheets/screen.css' %}" />
    <link rel="stylesheet" href="{% static 'smashers/stylesheets/login.css' %}" />

</head>
<body>
    <div class="wrapper login-wrap">
        {% block content %}
        <form method="post" action=".">
              {% csrf_token %} 
              {{ form.as_p }}
              <input type="submit" value="{% trans 'Submit' %}" />
        </form>
        {% endblock %}
    </div>

</body>
</html>