{% extends "auth_base.html" %}
{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Password Reset Email Sent!</title>
    <link rel="stylesheet" href="{% static 'smashers/stylesheets/screen.css' %}" />
    <link rel="stylesheet" href="{% static 'smashers/stylesheets/login.css' %}" />
</head>
<body>
    <div class="wrapper login-wrap">
        <p>{% trans "Your password has been reset." %}
        <a href="/">{% trans "Log in" %}</a></p>
    </div>
</body>
</html>

