@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot?-iutj4f');
	src:url('fonts/icomoon.eot?#iefix-iutj4f') format('embedded-opentype'),
		url('fonts/icomoon.woff?-iutj4f') format('woff'),
		url('fonts/icomoon.ttf?-iutj4f') format('truetype'),
		url('fonts/icomoon.svg?-iutj4f#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-search3:before {
	content: "\e60a";
}

.icon-search2:before {
	content: "\e609";
}

.icon-compass2:before {
	content: "\e94a";
}

.icon-users:before {
	content: "\e972";
}

.icon-search:before {
	content: "\e986";
}

.icon-fire:before {
	content: "\e9a9";
}

.icon-man-woman:before {
	content: "\e9de";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-remove-user:before {
	content: "\e600";
}

.icon-emoji-flirt:before {
	content: "\e601";
}

.icon-emoji-happy:before {
	content: "\e602";
}

.icon-emoji-neutral:before {
	content: "\e603";
}

.icon-emoji-sad:before {
	content: "\e604";
}

.icon-heart-outlined:before {
	content: "\e605";
}

.icon-heart:before {
	content: "\e606";
}

.icon-magnifying-glass:before {
	content: "\e608";
}

.icon-plus:before {
	content: "\e607";
}

