{% load staticfiles %}
<script type='text/template' id='single-card'>
    <i class='feedback-icon icon-like <%= typeof status !== "undefined" && status == 1 ? "showing" : "" %>'>LIKE</i>
    <i class='feedback-icon icon-dislike <%= typeof status !== "undefined" && status == 2 ? "showing" : "" %>'>DISLIKE</i>
    <img draggable='false' src="<%= headshot %>" />
    <div class='info-wrapper'>
        <h2><%= name %></h2>
        <h3><%= major %></h3>
    </div>
</script>
<script type="text/template" id='suggestion-template'>
    <%= name %>
</script>

<script type="text/template" id='user-profile'>
    <p>Hi there. Welcome to senior week. We don't have a lot of time left on campus, and we should all strive to make the most of it. Upload a photo of yourself, so your classmates and potential lovers know exactly who they're tangling with.</p>
    <input type="file" id="file-select" accept="image/*" class='choice-button button-regular' name="headshots[]"/>
    <button class="hidden js-upload choice-button button-regular">Upload!</button>
    <img id='output' src="<%= headshot %>">
    <nav>
        <ul>
            <li><a class='center js-logout'>Log out</a></li>
            <li><a class='center js-change-password' href="#">Change Password</a></li>
            <li><a class='center js-deactivate-account' id='deactivate'>Deactivate Account</a></li>

        </ul>
    </nav>
</script>